<h1>Scrabble Time!</h1>

<form action = '/result'>
  <div class = 'form-group'>
    <label for="word_input" id="word_input">Enter your scrabble word here:</label>
    <input id="word_input" name="word_input" input type="text" class="form-control input-lg" id="word_input" placeholder="Your Scrabble Word">
  </div>
 <div class="span7 text-center">
  <button type="submit" class="center btn">

    <img class ="img-responsive" src = "button.jpg">

  </button>
  </div>
