<h1>Word Frequency Counter</h1>

<form action = '/result'>
 <div class - 'form'>
  <div class = 'form-group'>
    <label for="search_string">Enter the text you want to search through:</label>
    <input id="search_string" name="search_string" input type="text" class="form-control input-lg" id="search_string" placeholder="<Type Here>">
    <label for="target_word">Enter the word you would like to search for:</label>
    <input id="target_word" name="target_word" input type="text" class="form-control input-lg" id="target_word" placeholder="<Type Here>">
  </div>
  <div class="span7 text-center">
    <button type="submit" class="btn btn-default">Go!</button>
  </div>
 </div>
