<div class="mod_h1">
<h1>Your Results</h1>
</div>

<div class="result_text">

<p>Your text: <span class='bold_red'> <%= @search_string %> </span></p>
<p>You wanted to search for: <span class='bold_red'> <%= @target_word %> </span></p>

<p>My mighty computer brain has concluded that <span class='bold_red'><%= @target_word %></span> appears <span class='bold_red'> <%= @result %> </span> time(s).</p>

</div>
