<div class="mod_h1">
<h1>Your Results</h1>
</div>

<div class="result_text">

<p>You entered:<span class='input_confirm'> <%= @input_word %> </span></p>

<p>Your score is: <span class='input_confirm'> <%= @result %> </span></p>

</div>
