
.form-group{
  text-align: center;
  font-size: 20px;

}

.input_confirm{
  font-weight: bold;
  color: red;
}

.result_text{
  text-align: center;
  font-size: 20px;
}

.mod_h1{
  text-align: center;
}
